<!DOCTYPE html>
<html lang="{{ site.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="icon" href="/favicon.ico" sizes="any">
  {% include "partials/meta.njk" %}
</head>
<body class="box-border flex flex-col font-serif">
  <a href="#content" class="skip-link">Aller directement au contenu</a>
  {% include "partials/header.njk" %}

  {% block content %}{% endblock %}

  {% include "partials/footer.njk" %}
  {% include "partials/scripts.njk" %}
</body>
</html>