{% extends "layouts/base.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block content %}
<div>
  {{ m.title(title) }}

  {{ content | safe }}

  {{ m.postList(5) }}
</div>
{% endblock %}