{% extends "layouts/base.njk" %}
{% import "partials/event-list.njk" as el with context %}

{% block content %}
<div>
  <h1>{{ title }}</h1>

  {{ content | safe }}

  <h2>À venir</h2>
  {{ el.eventList(headingLevel=3, filter="coming") }}

  <h2>Passés</h2>
  {{ el.eventList(headingLevel=3) }}
</div>
{% endblock %}