{% extends "layouts/page.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block pageContent %}
<div>
  {{ m.title(title) }}

  {{ content | safe }}

  <h2>À venir</h2>
  {{ m.eventList(headingLevel=3, filter="coming") }}

  <h2>Passés</h2>
  {{ m.eventList(headingLevel=3) }}
</div>
{% endblock %}