{% extends "layouts/base.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block content %}
<div>
  <h1 class="sr-only">Bienvenue sur le site de Dixie Time</h1>

  <div>
    {{ m.title("Qui sommes nous ?", 2) }}

    <div class="flow">
      {{ content | safe }}
    </div>
  </div>
</div>
{% endblock %}