{% extends "layouts/base.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block content %}
<div class="md:flex xl:w-11/12 md:mx-auto">
  <main class="xl:mx-auto m-3 p-3 md:p-6 bg-white border border-slate-300 md:w-2/3">
  {% block pageContent %}
    <article>
      {{ m.title(title) }}

      <div class="flow">
        {{ content | safe }}
      </div>
    </article>
  {% endblock %}
  </main>

  {% if page.url != "/" %}
  <aside class="md:w-1/3 p-3">
    {% if page.url != "/evenements/" %}
    <div class="mb-3 p-3 bg-white border border-slate-300">
      <h2>Évènements</h2>
      <a href="/evenements/">Consulter nos évènements</a>
    </div>
    {% endif %}

    {% if page.url != "/repertoire/" %}
    <div class="mb-3 p-3 bg-white border border-slate-300">
      <h2>Audio</h2>

      <div class="mb-6 w-fit mx-auto">
        {% include "partials/player.njk" %}
      </div>

      <a href="/repertoire/" class="block w-fit mx-auto text-amber-900 font-semibold underline">
        Consulter notre répertoire
      </a>
    </div>
    {% endif %}

    <div class="p-3 bg-white border border-slate-300">
      <h2>Archives</h2>

      <p>Il n'y a pas d'archives pour le moment</p>
    </div>
  </aside>
  {% endif %}
</div>
{% endblock %}