{% extends "layouts/base.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block content %}
<div id="content" class="md:flex md:mx-auto xl:w-11/12">
  <main class="md:w-2/3 xl:mx-auto m-3 p-3 md:p-6 bg-white border border-slate-300">
  {% block pageContent %}
    {{ m.title(title) }}

    <div class="flow">
      {{ content | safe }}
    </div>

    {% block pageSubContent %}{% endblock %}
  {% endblock %}
  </main>

  {% if page.url != "/" %}
  <aside class="md:w-1/3 p-3">
    {% if page.url != "/evenements/" %}
    <div class="mb-3 p-3 bg-white border border-slate-300 border-t-4 border-t-amber-600 rounded-t-sm">
      <h2 class="w-fit mx-auto border-b border-b-amber-600 mb-6 text-2xl font-light text-amber-700 text-center">Évènements</h2>
      
      <p class="mb-6 text-center">Il n'y a pas d'évènement à venir</p>

      <a href="/evenements/" class="block w-fit mx-auto text-amber-700 font-semibold underline">
        Consulter nos évènements passés
      </a>
    </div>
    {% endif %}

    {% if page.url != "/repertoire/" %}
    <div class="mb-3 p-3 bg-white border border-slate-300 border-t-4 border-t-amber-600 rounded-t-sm">
      <h2 class="w-fit mx-auto border-b border-b-amber-600 mb-6 text-2xl font-light text-amber-700 text-center">Audio</h2>

      <div class="mb-6 w-fit mx-auto">
        {% include "partials/player.njk" %}
      </div>

      <a href="/repertoire/" class="block w-fit mx-auto text-amber-900 font-semibold underline">
        Consulter notre répertoire
      </a>
    </div>
    {% endif %}

    <div class="p-3 bg-white border border-slate-300 border-t-4 border-t-amber-600 rounded-t-sm">
      <h2 class="w-fit mx-auto border-b border-b-amber-600 mb-6 text-2xl font-light text-amber-700 text-center">Archives</h2>

      <p class="text-center">Il n'y a pas d'archives pour le moment</p>
    </div>
  </aside>
  {% endif %}
</div>
{% endblock %}