{% extends "layouts/page.njk" %}

{% block pageContent %}
<article>
  <header>
    <h1>{{ title }}</h1>
    <p>
      Publié le <time datetime="{{ date }}">{{ date | formatDate }}</time>
    </p>
  </header>

  {{ content | safe}}
</article>
{% endblock %}