{% extends "layouts/page.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block pageContent %}
<article>
  <header>
    {{ m.title(title) }}

    <div class="mb-12 text-center text-sm text-gray-700">
      <p>
        <span class="font-semibold">Publié le:</span>
        <time datetime="{{ date }}">{{ date | formatDate }}</time>
      </p>
      <p>
        <span class="font-semibold">Tags:</span> {% for tag in tags %}
        <span>{{ tag }}</span>
        {% endfor %}
      </p>
    </div>
  </header>

  <div class="flow">
    {{ content | safe}}
  </div>
</article>
{% endblock %}