{% extends "layouts/base.njk" %}

{% block content %}
<div>
  <h1>{{ title }}</h1>

  {{ content | safe }}

  <ul>
    {% for item in repertoire %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}