{% extends "layouts/base.njk" %}
{% import "partials/macros.njk" as m with context %}

{% block content %}
<div>
  {{ m.title(title) }}

  {{ content | safe }}

  <ul>
    {% for item in repertoire %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}