@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      rgba(241, 241, 241, 0.5) 0%,
      rgba(241, 241, 241, 0) 50%
    ),
    url("../images/pattern.png"), #c7c7c7;
  background-repeat: repeat;
  background-position: center top;
}

[aria-current="page"] {
  @apply font-bold;
  @apply bg-white;
  @apply text-amber-900;
}

.flow > * + * {
  @apply mt-3;
}

.skip-link {
  @apply bg-black;
  @apply text-white;
  left: 0;
  padding: 0.75em;
  position: fixed;
  top: 0;
  transform: translateY(-10em);
  transition: transform 0.2s ease-in-out;
}

.skip-link:focus {
  transform: translateY(0em);
}

main a {
  @apply text-amber-700;
  @apply underline;
}

main a:hover {
  @apply no-underline;
}

.photo {
  @apply inline-block;
  @apply bg-white;
  @apply shadow-lg;
  @apply p-3;
  @apply pb-6;
  @apply border;
  @apply border-gray-200;
}

.mask-divider::after {
  -webkit-mask: url("../images/divider.svg") no-repeat 50% 50%;
  mask: url("../images/divider.svg") no-repeat 50% 50%;
}

.index-events > .event-empty-list {
  @apply text-center;
}
