{% macro title(title, headingLevel=1) %}
<h{{ headingLevel }}  class="font-special text-6xl mb-12 text-center bg-clip-text text-transparent bg-gradient-to-r from-amber-600 to-amber-900">
  {{ title }}
</h{{ headingLevel }}>
{% endmacro %}