{# TITLE MANAGEMENT #}
{% macro title(title, headingLevel=1, nbspFilter=true) %}
<h{{ headingLevel }} class="font-special text-6xl mb-12 text-center bg-clip-text text-transparent bg-gradient-to-r from-amber-600 to-amber-900 after:block after:h-8 after:mt-12 after:bg-contain after:bg-center after:bg-amber-900 mask-divider">
  {% if nbspFilter %}
    {{ title | addNbsp | safe }}
  {% else %}
    {{ title }}
  {% endif %}
</h{{ headingLevel }}>
{% endmacro %}

{# POST LIST #}
{% macro postList(number=3, headingLevel=2) %}
  {% set postList = collections["posts"] | reverse %}
  {% for post in postList %}
  {% if loop.index0 < number %}
  <article class="py-8 last:pb-0 flex flex-wrap justify-between items-end">
    <h{{ headingLevel }} class="text-xl">
      <a href="{{ post.url }}" class="text-amber-700">{{ post.data.title }}</a>
    </h{{ headingLevel }}>
    <p class="text-sm text-gray-700">
      <time datetime="{{ post.data.date }}">{{ post.data.date | formatDate }}</time>
    </p>
    <p class="mt-2 grow shrink-0 basis-full">{{ post.templateContent | excerpt | safe }}</p>
    <p class="mt-2 text-sm text-gray-700">
      Tags:
    {% for tag in post.data.tags %}
      <span>{{ tag }}</span>
    {% endfor %}
    </p>
  </article>
  {% endif %}
  {% else %}
  <p>Il n'y a pas d'article pour le moment</p>
  {% endfor %}
{% endmacro %}

{# EVENT LIST #}
{% macro eventList(number=10, headingLevel=2, filter="past", shortdate=false) %}
  {% set eventList = collections["events"] | eventsFilter(filter) %}
  {% for event in eventList | reverse %}
  <article class="flex p-2 justify-between odd:bg-gray-100">
    <h{{ headingLevel }} class="w-1/2">{{ event.data.title }}</h{{ headingLevel }}>
    <div class="w-1/3">
      <address>
      <p>{{ event.data.location.place }}</p>
      <p>{{ event.data.location.address }}</p>
      <p>{{ event.data.location.city }}</p>
      </address>
    </div>
    <p>
      <time datetime="{{ event.data.start.date }}">
      {% if shortdate %}
        {{ event.data.start.date | formatShortDate }}
      {% else %}
        Le {{ event.data.start.date | formatDate }}
      {% endif %}
      </time>
    </p>
  </article>
  {% else %}
  <p class="event-empty-list">Il n'y a pas d'évènement à venir</p>
  {% endfor %}
{% endmacro %}

{# MUSICIANS LIST #}
{% macro musicianList(musicians) %}
<ul class="grid grid-cols-2 gap-y-6 md:grid-cols-3 my-8">
  {% for musician in musicians %}
  <li class="text-center text-slate-600">
    <img src="/assets/images/{{ musician.img }}" class="photo" alt="">
    <div class="mt-4 text-lg font-semibold after:block after:w-1/6 after:mx-auto after:border-b after:border-amber-600">{{ musician.name }}</div>
    <div>{{ musician.instrument }}</div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{# FIGURE #}
{% macro figure(file, alt, caption) %}
<figure class="mx-auto w-fit p-1 shadow-lg border border-gray-300">
  <img src="/assets/images/{{ file }}"
        alt="{{ alt }}">
  <figcaption class="p-2 bg-gray-900 text-center text-white italic">{{ caption }}</figcaption>
</figure>
{% endmacro %}
