{# TITLE MANAGEMENT #}
{% macro title(title, headingLevel=1, nbspFilter=true) %}
<h{{ headingLevel }} class="font-special text-6xl mb-12 text-center bg-clip-text text-transparent bg-gradient-to-r from-amber-600 to-amber-900">
  {% if nbspFilter %}
    {{ title | addNbsp | safe }}
  {% else %}
    {{ title }}
  {% endif %}
</h{{ headingLevel }}>
{% endmacro %}

{# POST LIST #}
{% macro postList(number=3, headingLevel=2) %}
  {% set postList = collections["posts"] | reverse %}
  {% for post in postList %}
  <article>
    <h{{ headingLevel }}>{{ post.data.title }}</h{{ headingLevel }}>
    <p>
      <time datetime="{{ post.data.date }}">{{ post.data.date | formatDate }}</time>
    </p>
    <a  href="{{ post.url }}" class="text-amber-900 hover:text-amber-600 underline">
      Lire l'actualité <span class="visually-hidden">"{{ post.data.title }}"</span>
    </a>
  </article>
  {% else %}
  <p>Il n'y a pas d'article pour le moment</p>
  {% endfor %}
{% endmacro %}

{# EVENT LIST #}
{% macro eventList(number=10, headingLevel=2, filter="past") %}
  {% set eventList = collections["events"] | eventsFilter(filter) %}
  {% for event in eventList | reverse %}
  <article>
    <h{{ headingLevel }}>{{ event.data.title }}</h{{ headingLevel }}>
    <p>{{ event.data.location }}</p>
    <p>
      <time datetime="{{ event.data.start.date }}">
        Le {{ event.data.start.date | formatDate }}
      </time>
    </p>
  </article>
  {% else %}
  <p class="text-center">Il n'y a pas d'évènement pour le moment.</p>
  {% endfor %}
{% endmacro %}

{# MUSICIANS LIST #}
{% macro musicianList(musicians) %}
<ul class="grid grid-cols-2 gap-y-6 md:grid-cols-3 my-8">
  {% for musician in musicians %}
  <li class="text-center text-slate-600">
    <img src="/assets/images/{{ musician.img }}" class="photo" alt="">
    <div class="mt-4 text-lg font-semibold after:block after:w-1/6 after:mx-auto after:border-b after:border-amber-600">{{ musician.name }}</div>
    <div>{{ musician.instrument }}</div>
  </li>
  {% endfor %}
</ul>
{% endmacro %}

{# FIGURE #}
{% macro figure(file, alt, caption) %}
<figure class="w-fit p-1 shadow-lg border border-gray-300">
  <img src="/assets/images/{{ file }}"
        alt="{{ alt }}">
  <figcaption class="p-2 bg-slate-800 text-center text-white italic">{{ caption }}</figcaption>
</figure>
{% endmacro %}