{% set currentUrl = page.url %}

{%- set navPages = collections["pages"] | eleventyNavigation %}
{% if navPages.length > 0 %}
<nav class="my-3 md:my-0 font-sans uppercase font-extralight">
  <ul class="flex flex-wrap gap-x-6 justify-center" role="list">
  {% for entry in navPages %}
    <li>
      <a{% if currentUrl === entry.url %} aria-current="page"{% endif %} 
        href="{{ entry.url | url }}">
        {{ entry.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif -%}